@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
}

body {
    background: linear-gradient(rgba(17,17,17,0.8), rgba(20,20,20,1)), url(../img/cabe_bg.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 7vh;
    background: rgba(22,22,22,0.25);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.logo {
    font-size: 18px;
    letter-spacing: 4px;
    cursor: pointer;
}

.menu-content .list-items {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-items a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transform: 2ms ease-in ;
    position: relative;
}

.menu-content .list-items a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition:  all 1.5s ease;
}

.menu-content .list-items a:hover:before {
    width: 100%;
}


main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text{
    width: 850px;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.second-text{
    margin-bottom: 70px;
    font-size: 20px;
    color: gray;
    text-transform: uppercase;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.buttons button:hover{
    color: rgba(251, 255, 0, 0.726);
}

.buttons button::before{
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 60px;
    background-color: rgba(44, 51, 51, 0.664);
    z-index: -1;
    transition: 1s;
}

.buttons button:hover:before{
    width: 100%;
}
